.wrapper{
    
    .header{
        box-shadow: 0 0 4px 0 #eee;
        border-bottom: var(--main-border);
        height: 48px;
    }

    .logo{
        width: 314px;
        margin:  0 auto;
        padding: 45px 0 65px 0;

        @media (max-width:600px) {
            width: 200px;
            padding: 15px 0 35px 0;
        }

        img{
            width: 100%;
        }
    }

    svg{
        color: #535353;
    }

    .customs__navMain{

        @media (max-width:1024px) {
            display: none;
        }

        @media (max-width:1240px) {
            font-size: 10px;

            a{
                padding: 0 15px;
            }
        }
    }

    .customs__menuBars{
        display: none;

        @media (max-width:1024px) {
            display: inline-block;
            
            svg{
                color: #222222;
            }
        }
    }
}

.grid{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid.wide{
    max-width: 1240px;
    margin: 0 auto;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 200px;

    .box-search{
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 12px;
        position: relative;

        &::before{
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: #ebebeb;
        }
    }

    .box-cart{
        padding-left: 20px;

        .icon-cart{
            padding: 0;
            color: #222222;
            position: relative;

            .quantity{
                position: absolute;
                background-color: #f1686a;
                color: var(--white);
                padding: 1px 4px;
                border-radius: 50%;
                font-size: 10px;
                top: -6px;
                right: 0;
            }
        }
    }

    svg{
        font-size: 12px;
    }

    input{
        
        margin-left: 8px;
        width: 60px;
        transition: width 0.3s ease;

        &::placeholder{
            font-weight: 600;
            font-size: 11px;
            color: #b4b4b4;
            letter-spacing: 1px;
        }

        &:focus{
            width: 120px;
        }
    }

    
}