.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;

    .icon{
        color: #aaa;
        font-size: 8px ;
    }
}

span{
    padding: 0 8px;
}

