.wrapper{

    .control{
        border: var(--main-border);
        box-shadow: 0 0 4px #ccc;
        padding: 12px;
        @media (max-width:600px) {
            margin-bottom: 24px;
        }

        .totle-product{
            margin-bottom: 24px;


            span{
                color: #318892;
            }
        }

        .totle-monney{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            span{
                padding: 0;
            }

            p{
                color: #318892;
                font-size: 22px;
                font-weight: bold;
            }
        }

        .btn{
            background-color: #318892;
            color: #fff;
            margin-bottom: 12px;
            padding: 10px 0;
            border-radius: 1px;
            justify-content: center;
        }
    }

    .list-product{
       
        .item-product{
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 4px #ccc;
            padding: 10px;
            margin-bottom: 12px;

            @media (max-width:600px) {
                padding: 6px;
            }

            .item-left{
                display: flex;

                .img{
                    width: 100px;
                    height: 120px;
                    margin-right: 12px;
                    overflow: hidden;

                    @media (max-width:600px) {
                        width: 80px;
                        height: 100px;
                    }

                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                    }
                }

                .info{
                    padding: 4px 0;

                    .title{
                        margin-bottom: 6px;
                        display: block;
                        display: -webkit-box;
                        height: 16px*1.3*2;
                        font-size: 16px;
                        line-height: 1.3;
                        -webkit-line-clamp: 2;  /* số dòng hiển thị */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: min-content;
                    }

                    p{
                        font-size: 13px;
                        
                        span{
                            color: #318892;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-size: 11px;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .actions{
                display: flex;
                align-items: center;

                @media (max-width:600px) {
                    flex-direction: column-reverse;
                    align-items: flex-end;
                }

                div{
                    margin-left: 40px;


                    @media (max-width:600px) {
                        margin: 6px 0;
                    }
                }

                .actions__price{
                    font-size: 14px;
                    color: #318892;
                    font-weight: bold;
                }

                .actions__quantity{
                    display: flex;
                    align-items: center;
                    border: var(--main-border);
                    
                    svg{
                        padding: 4px;
                        font-size: 13px;
                        cursor: pointer;

                        &:nth-child(1){
                            border-right: var(--main-border);
                        }

                        &:nth-child(3){
                            border-left: var(--main-border);
                        }
                    }

                    span{
                        padding: 0 16px;
                    }
                }

                .delete-product{
                    color: #444;
                }


            }
        }
    }
}