.contact{
        
    .aboutme__social{
        
        svg{
            color: #454545;
            border: var(--main-border);
            font-size: 14px;
            border-radius: 50%;
            padding: 10px;
            transition: 0.5s;

            &:hover{
                color: #F1868A;
                transition: 0.5s;
            }
        }
    }

    .avatar{
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 2px;
    }

    .desc{
        margin-top: 25px;
        font-size: 14px;
        color: #666666;
        display: block;
        display: -webkit-box;
        height: 16px*1.8*2;
        line-height: 1.8;
        -webkit-line-clamp: 2;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 16px;
    }

    .btn{
        margin-top: 16px;
        justify-content: center;
        width: 100%;
        font-size: 11px;
        color: #F1868A;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 4px;
        position: relative;

        &::before{
            position: absolute;
            content: "";
            width: 26%;
            height: 1px;
            background-color: #ebebeb;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }

    .creative-post{
        border: var(--main-border);
        height: 150px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .btn-ceative{
            position: absolute;
            z-index: 10;
            display: flex;
            align-items: center;

            h3{
                color: var(--white);
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            svg{
                color: var(--white);
                font-size: 22px;
                margin-right: 8px;
            }
        }


        img{
            position: absolute;
            width: 100%;
            margin-right: -12px;
            margin-left: -12px;
            object-fit: cover;
            transition: 0.5s;
            bottom: -30px;
        }

        &::before{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: 9;
        }

        &:hover{
            transition: 0.5s;

            img{
                transform: scale(1.2);
            }
        }

    }

    .onfacebook{
        padding-top: 100%;
      
    }
}