.wrapper{


    .logo{
        width: 341px;
        height: 242px;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 65px;
        display: block;

        img{
            width: 100%;
        }

        @media (max-width:600px) {
            width: 200px;
            padding-bottom: 0;
            height: 200px;
        }
    }

    .grid{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}