.slides{
    overflow-x: hidden;

}
.maxscroll{
    margin-top: 50px;
}

.item{
    position: relative;

    &::before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
    }

    .background{
        height: 100vh;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .pertain{
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            color: var(--white);
            cursor: pointer;
        }

        .title{
            font-size: 44px;
            color: var(--white);
            margin: 16px 0 5px;
            position: relative;
            padding-bottom: 24px;
            width: 100vw;
            text-align: center;
            transition: 0.5s;

            @media (max-width:740px) {
                font-size: 26px;
            }

            &::before{
                content: "";
                width: 32px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .btn{
            display: inline-block;
            width: unset;
            padding: 11px 12px;
            border: 2px solid var(--white);
            margin-top: 30px;
            color: var(--white);
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: 600;
            border-radius: 1px;
            transition: 0.7s ease;

            &:hover{
                background-color: var(--white);
                color: var(--text-color-header);
            }
        }

    }
}

.active{

    .pertain,.title,.btn{
        animation: scale 0.9s ease;
    }

}

@keyframes scale {
    from{
        transform: scale(0.3);
    }
    to{
        transform: scale(1);
    }
}